@use 'variaveis';

.hero {
    padding: 5.1vw;
    min-height: 72vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(45vw + 45px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -65px;
    }    

    .button {
        margin-top: 1vw;
        margin-bottom: 8px;
    }

    &__content{
        max-width: 576px;

        &__branding {
            max-width: 288px;
            margin: 0 auto 34px;

            @media (max-width: 768px) {
                max-width: 162px;
            }
        }

        .title--small {
            margin-bottom: 58px;
        }

        p {
            margin-bottom: 18px;

            &:last-child {
                margin-top: 54px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            
            @media (max-width: 768px){
                display: block;
            }

            &__combo {
                width: calc(50% - 10px);

                @media (max-width: 768px){
                    width: 100%;
                    margin-bottom: 22px;
                }

                img {
                    max-height: 54px;
                }
            }
        }
    }
}